<style>
.desc{
  opacity: 0;
}
</style>
  <div ng-controller="homeController" style="margin-top:60px;">
    <div class="col-md-12 col-xs-12">
          <div class="col-md-3">
            <div class="node">
              <i class="fa fa-unlock" id="bomb"></i>
              <div class="btmText">UNLOCK THE DOOR</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="node">
              <i class="fa fa-circle-o-notch" id="compass"></i>
              <div class="btmText">CLEAR SECURITY</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="node">
              <i class="fa fa-key" id="cogs"></i>
              <div class="btmText">DECRYPT THE CLUE</div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="node">
              <i class="fa fa-diamond" id="key"></i>
              <div class="btmText">OPEN THE VAULT!</div>
            </div>
          </div>
    </div>
    <div class="col-md-6 col-md-push-3" style="margin-top:120px">
      <div class="desc">
        <p>Stuff about bank robbery Stuff about bank robbery Stuff about bank robbery 
        </p>
        <a href="#/round1" class="my-btn">LET'S BREAK THE BANK</a>
      </div>
    </div>
  </div>